<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <title>医疗项目</title>
    <!--极速模式-->
    <meta name="renderer" content="webkit"/>
    <!--支持IE-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--支持移动设备,禁用缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <!--common-css-->
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <!--jquery-->
    <script src="https://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <!--js-->
    <script src="../lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <p class="navbar-brand">医疗项目</p>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="搜索内容">
            </div>
            <div class="col-md-3">
                <button class="btn btn-info" href="#">搜索</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>